* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins';
}

.text-secondary {
  color: #918E9B;
}

.text-bold {
  font-weight: bold;
}

.cards-container {
  display: flex;
  gap: 18px;
  overflow-y: scroll;
  padding-bottom: 6px;
  margin: 48px 0 24px 36px;
}
